# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

GITHUB_ID = 
GITHUB_SECRET = 

# Strapi Configuration
# URL Strapi Anda
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337

# Token Strapi (dapatkan dari Strapi Admin Panel)
NEXT_PUBLIC_STRAPI_TOKEN=a040c896464cc75737c37a85f4aa155137971ec989dc0db7eb53506289f3c2fbf32b5fcb08b160e3379ccc07e170c35161274c7d2353a2e83c0f399396d080657e45648404a0acc3fcebb331438e30dfc6ccfe7ba398770ee0ffc860138c52feda63f522a9b37d1499ffbfd47f63e5e8f5c32fd723dda0070edfd65e2fbb5498


