@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(255, 255, 255, 1);
    --foreground: 34 5% 0%;
    --card: 34 50% 90%;
    --card-foreground: 34 5% 10%;
    --popover: 34 100% 95%;
    --popover-foreground: 34 100% 0%;
    --primary: 34 100% 63.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 34 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -4 30% 85%;
    --muted-foreground: 34 5% 35%;
    --accent: -4 30% 80%;
    --accent-foreground: 34 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 34 5% 90%;
    --border: 34 30% 50%;
    --input: 34 30% 18%;
    --ring: 34 100% 63.7%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 34 50% 5%;
    --foreground: 34 5% 90%;
    --card: 34 50% 0%;
    --card-foreground: 34 5% 90%;
    --popover: 34 50% 5%;
    --popover-foreground: 34 5% 90%;
    --primary: 34 100% 63.7%;
    --primary-foreground: 0 0% 0%;
    --secondary: 34 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -4 30% 15%;
    --muted-foreground: 34 5% 60%;
    --accent: -4 30% 15%;
    --accent-foreground: 34 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 34 5% 90%;
    --border: 34 30% 18%;
    --input: 34 30% 18%;
    --ring: 34 100% 63.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    /* Fallback */
    min-height: 100dvh;
  }

  .h-screen {
    height: 100vh;
    /* Fallback */
    height: 100dvh;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.nav-link {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.nav-link.active::after {
  width: 100%;
}

body {
  font-family: var(--font-roboto), sans-serif;
}

html {
  scroll-behavior: smooth;
}